--extra-index-url https://download.pytorch.org/whl/cu121

matplotlib
mne
numpy
torch
torchvision
torchaudio
torch_geometric
torchcam
pandas
PyYAML
jupyter
scikit-learn
librosa
braindecode
moabb
scipy
seaborn
pyriemann
h5py
tensorboard
tqdm
autoreject
lime
PyQt5
tqdm
