--extra-index-url https://download.pytorch.org/whl/cu121

matplotlib
mne
mne-connectivity
numpy
torch==2.5.1+cu121
torchvision==0.20.1+cu121
torchaudio==2.5.1+cu121
torch_geometric
torchcam
pandas
PyYAML
jupyter
scikit-learn
librosa
braindecode
moabb
scipy
seaborn
pyriemann
h5py
tensorboard
tqdm
autoreject
lime
pyvistaqt
PyQt5
